
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color: #250276;
}
a{
    text-decoration: none;
}
.header{
    width: 100%;
    background: linear-gradient(rgba(122, 143, 172, 0.2), rgb(161, 173, 191)), url(img/digitalabocker.jpg.webp);
    background-position: center;
    background-size: cover;
    height: 600px;
    position: relative;
}
.header .nav-links{
    color: rgb(57, 4, 172);
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
}
.header .hero-btn{
    text-decoration: none;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}
nav{
    display: flex;
    padding: 2% 5%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 100px;
}
.nav .btn {
    font-size: 15px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style-type: none;
    display: inline-block;
    padding: 8px, 12px;
    position: relative;
    color: rgb(57, 4, 172);
    text-decoration: none;
    font-size: 25px;
    padding: 15px;
}
.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2%;
    background: hsl(213, 48%, 95%);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
    border: 1px solid hwb(257 16% 6%);
    background: hwb(252 32% 12%);
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    border: 1px solid hsl(258, 56%, 87%);
    padding: 10px 35px;
    font-size: 20px;
    font-weight: bold;
    background-color: #bcd7fc;
    position: relative;
    cursor: pointer;
    border-radius: 15px;
}
.hero-btn:hover{
    border: 1px solid hsl(258, 64%, 81%);
    background: hsl(258, 64%, 81%);
    transition: 0.5s;
}
.hero-btn .fa-solid {
    font-size: 15px;
}
.close-button {
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
}
.menu-button{
    font-size: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
}

@media(max-width: 700px){
    .header {
        width: 100%;
        height: 500px;
    }
    .nav-links ul li{
        display: block;
        font-size: 15px;
     }
    .nav-links{
        flex-direction: column;
        position: absolute;
        background: hwb(207 38% 3%);
        height: 100vh;
        width: 160px;
        top: 0;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .nav-links ul{
        padding: 20px;
    }
    nav img{
        width: 50px;
    }
    .menu-button{
        font-size: 25px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
    }
    .close-button {
        font-size: 20px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
    }
    .hero-btn{
        font-size: 18px;
    }
    .hero-btn:hover{
        border: 1px solid hsl(258, 64%, 81%);
        background: hsl(258, 64%, 81%);
        transition: 0.5s;
    }
    .hero-btn .fa-solid {
        font-size: 10px;
    }    
}

/*--- Hero-section--*/
.text-box{
    width: 90%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 150px;
}
.text-box h1{
    font-size: 50px;
}
.text-box p{
    margin: 20px 10px 40px;
    font-size: 25px;
}
@media(max-width: 700px){
    .text-box{
        margin-top: 150px;
    }
    .text-box h1{
        font-size: 30px;
    }
    .text-box p{
        font-size: 18px;
    }

}

/*informerande*/
.row{
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    text-align: right;
    padding-top: 50px;
}
.col-2{
    text-align: left;
    padding-top: 50px;
    padding-left: 50px;
    width: 90%;
}
.col-1 img{
    flex-basis: 50%;
    max-width: 100%;
    margin-top: 50px;
    border-radius: 30px;
}
.col-2 a{
    margin-top: 15px;
    font-size: 20px;
}
.col-2 h1{
    margin-top: 100px;
    font-size: 40px;
    line-height: 60px;
    margin: auto;
}
.col-2 p{
    padding-top: 25px;
    font-size: 20px;
    margin-top: auto;
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
        width: 90%;
    }
    .row .hero-btn {
        font-size: 15px;
    }
  
    .col-2 h1{
        font-size: 25px;
    }
    .col-2 p{
        font-size: 18px;
    }
}

/*Grid-container*/
.courses{
    margin-top: 50px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.courses h2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.wrapper-grig{
    display: grid;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.h2{
    margin-top: 100px;
    font-size: 35px;
}
.grid-container{
    background-color:aliceblue;
    border-radius: 10px;
    padding: 20px;
}
.grid-container:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 2);
}
.grid-container h3{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.grid-container p{
    font-size: 15px;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 0;
}
.grid-container .hero-btn{
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 15px;
    padding: 10px 60px;
    justify-content: space-between;
}
.grid-container .material-icons{
    font-size: 20px;
}
.icon-link .material-icons{
    display: inline-block;
    justify-content: space-between;
}
.material-icons {
font-size: 20px; 
align-items: end;
}
@media(max-width: 700px){
    .courses h2{
        font-size: 20px;
    }
    .grid-container h3{
        font-size: 16px;
        margin-bottom: 15px;
    }
    .grid-container p{
        font-size: 14px;
    }
    .grid-container .hero-btn{
        font-size: 14px;
        padding: 10px 20px;
    }
    .wrapper-grig{
        grid-template-columns: 1fr;
        grid-column: 100%;
    }
}
  

/*rekommendationer*/
.comment{
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.rekomendation{
    margin: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.rekomendationer{
    flex-basis: 30%;
    background: hsl(223, 65%, 86%);
    border-radius: 15px;
    padding: 30px 12px;
    box-sizing: border-box;
    transition: 0,5s;
}
.rekomendationer img{
    width: 50px;
    margin-top: 20px;
    padding: 10px 0;
    border-radius: 50%;
}
.rekomendationer h3{
    text-align: left;
    font-size: 20px;
    margin: 12px 15px;
}
.rekomendationer h4{
    text-align: center;
    font-size: 12px;
}
.rekomendationer p{
    text-align: left;
    font-size: 15px;
    margin: 12px 15px;
}
.rekomendationer:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 2);
}

@media(max-width: 700px){
    .comment{
        flex-direction: column;
        width: 100%;
        font-size: 20px;
    }
    .rekomendation{
        flex-direction: column;
        margin: 10%;
        display: flex;
        font-size: 15px;
    }
    .rekomendationer{
        border-radius: 10px;
        margin-bottom: 10%;
        padding: 10px 0;
        box-sizing: border-box;
        transition: 0,5s;
    }
    .rekomendationer img{
        width: 30px;
    }
    .rekomendationer h3{
        font-size: 15px;
        margin: 10px 15px;
    }
    .rekomendationer h4{
        font-size: 10px;
    }
}
  
/*upprepa call to action*/
.textBox2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    text-align: center;
    background: linear-gradient(rgba(122, 143, 172, 0.2), rgb(161, 173, 191));
}
.text-box2 h1{
    font-size: 35px;
}
.text-box2 p{
    margin: 20px 10px 20px;
    font-size: 20px;
    color: #250276;
}
@media(max-width: 700px){
    .text-box2{
        margin-top: 5px;
    }
    .text-box2 h1{
        font-size: 30px;
    }
    .text-box2 p{
        margin: 20px 0 0;
        font-size: 15px;
    }
    .hero-btn{
        font-size: 15px;
        margin-top: 15px;
    }
}

/*login section*/
.loginContainer{
    margin-top: 50px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.loginContainer h1{
    text-align: center;
    font-size: 40px;
}
.loginContainer h2{
    text-align: center;
    font-size: 30px;
}

.logIn-grid{
    display: grid;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    grid-template-areas: 
    "signIn forgetPassword"
    "signUp signUp";
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.signIn {
    width: 100%;
    grid-area: signIn;
    border-radius: 10px;
    padding: 15px;
}
.forgetPassword {
    grid-area: forgetPassword;
    border-radius: 10px;
    padding: 15px;
}
.signUp {    
    grid-area: signUp;
    width: 100%;
    border-radius: 10px;
    padding: 15px;
}
.signIn, .forgetPassword, .signUp {
    background-color:aliceblue;
    border-radius: 10px;
    padding: 20px;
}
.signIn:hover, .forgetPassword:hover, .signUp:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 2);
}
.signIn h2, .forgetPassword h2{
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.signIn, .forgetPassword label, .signUp {
    font-size: 18px;
}
.signIn input, .forgetPassword input {
    margin: 10px 0;
    padding: 10px 10px;
    text-align: left;
    width: 90%;
}
.signUp h2 {
    margin: 15px 0;
    font-size: 25px;
    text-align: left;
}
.info input {
    margin: 10px 0;
    padding: 10px 10px;
    text-align: left;
    width: 520px;
    justify-content: space-between;
    margin-right: 25px;
}
.email input {
    width: 60%;
    margin: 10px 0;
    padding: 10px 10px;
}

.loginContainer button{
    width: 100%;
    font-size: 15px;
    text-decoration: none;
    border: 1px solid hsl(258, 56%, 87%);
    padding: 10px 100px;
    background-color: #bcd7fc;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
}
.loginContainer button:hover{
    border-color: 1px solid hsl(258, 64%, 81%);
    background: hsl(258, 64%, 81%);
    transition: 0.5s;
}
.loginContainer .material-icons{
    font-size: 20px;
}
.material-icons {
font-size: 15px; 
}
.message {
    margin-top: 20px;
}
textarea {
    width: 100%;
    padding: 20px 20px;
}
.generalInfo {
    width: 100%;
    font-size: 16px;
    display: row;
    align-items: center;
    justify-content: space-between;
}
.gender h2, .interacts h2 {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 10px;
}
button .fa-solid {
    font-size: 15px;
}
@media (max-width: 700px) {
    .loginContainer {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .loginContainer h1 {
        font-size: 30px;
    }
    .logIn-grid {
      grid-template-areas:
        "signIn"
        "forgetPassword"
        "signUp";
      grid-template-columns: 1fr;
      gap: 20px;
      margin: 30px;
    }
    .signIn,
    .forgetPassword,
    .signUp {
      padding: 15px;
    }
    .signIn h2,
    .forgetPassword h2 {
      font-size: 20px;
    }
    .signIn,
    .forgetPassword label,
    .signUp {
      font-size: 16px;
    }
    .signIn input,
    .forgetPassword input,
    .info input,
    .email input,
    textarea {
      width: 100%;
    }
    .loginContainer button {
      padding: 10px 50px;
    }
    .generalInfo {
      flex-direction: column;
    }
    .gender h2,
    .interacts h2 {
      font-size: 18px;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    button .fa-solid {
        font-size: 10px;
    }
  }
  


/*footer*/
.footer{
    background-color: #bcd7fc;
    width: 100%;
    margin-top: 50px;
}
.container{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}
.footer-1 li a{
    margin-left: none;
}
.footer-1{
    flex-basis: 30%;
    text-align: left;
    margin: 20px;
}
.footer-2{
    flex-basis: 1;
    text-align: left;
    margin-top: 20px;
}
.footer-2 h3 h4{
    font-size: 20px;
}
.footer-2 p{
    font-size: 15px;
}
.footer-3 img{
    width: 150px;
    margin-bottom: 20px;
    margin-top: 20px;
}
ul{
    list-style-type: none;
}
.hr p{
    font-family: 15px;
}
.copyright{
    text-align: center;
}
@media(max-width: 700px){
    .footer{
        background-color: #bcd7fc;
        width: 100%;
        margin-top: 50px;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
    }
    .footer-1{
        flex-basis: 30%;
        text-align: left;
        margin: 20px;
    }
    .footer-2{
        flex-basis: 100%; 
        text-align: center; 
        margin-top: 20px;
    }
    .footer-2 h3, .footer-2 h4{ 
        font-size: 20px;
    }
    .footer-2 p{
        font-size: 15px;
    }
    .footer-3 img{
        width: 100px; 
        margin-bottom: 20px;
        margin-top: 20px;
    }
    ul{
        list-style-type: none;
    }
    .hr p{
        font-size: 12px; 
        text-align: center;
    }
    
}

